@media screen and (max-width:1440px) {
    
    .content{
        padding: 64pxpx 0px 70px 8px;
    }
}

@media screen and (max-width:1240px) {

    .add_task_content{
        margin-left: 232px;;
    }
    .add-task-form-left{
        width: 288px;
    }

    .pos-rel{
        width: 280px;
    }

    .urgent-button{
        width: 96px;
    }

    .clicked-medium{
        width: 96px;
    }

    .low-button{
        width: 96px;
    }

    .prio-span{
        font-size: 16px;
    }

    img{
        width: 12pxS;
    }

    .subtasks-container{
        width: 212px;
    }

    .assigned-container{
        width: 212px;
    }

    input{
        padding-right: 0;
        width: 212px;
        font-size: 12px;
    }

    .div-input{
        font-size: 12px;
    }

    textarea{
        width: 212px;
        font-size: 12px;
    }

    .content-order{
        width: 720px;
    }

    .bottom-order{
        width: 720px;
    }

    .div-button-order{
        width: 110%;
    }

}

@media screen and (max-width: 1024px) {

    .pos-rel{
        width: 212px;
    }

    .add_task_content{
        margin-left: 232px;;
    }

    .bottom-order{
        width: 502px;
        margin: 0;
    }
    
    .content-order{
        margin: 0px 0px 0px 8px;
        width: 556px;
        bottom: 0px;
    }

    .dividing-bar{
        margin: 0px 24px;
    }

    .urgent-button{
        width: 64px;
        flex-direction: column-reverse;
        padding: 12px 0px 24px 0px;
        gap: 0;
    }

    .clicked-medium{
        width: 64px;
        flex-direction: column-reverse;
        padding: 0px 0px 0px 0px;
        gap: 0;
    }

    .low-button{
        width: 64px;
        flex-direction: column-reverse;
        padding: 12px 0px 24px 0px;
        gap: 0;
    }
}

@media screen and (max-width: 777px) {
    
    .content-order{
        display: grid;
        justify-content: center;
        flex-direction: column;
        margin: 156px 0px 0px 0px;
        max-height: 472px;
        overflow-y: scroll;
        width: auto;
    }

    .add-task-form-left{
        width: 364px;
    }

    .add-task-form-right{
        width: 364px;
    }

    .dividing-bar{
        display: none;
    }

    input{
        width: 396px;
    }

    textarea{
        width: 396px;
    }

    .assigned-container{
        width: 396px;
    }

    .pos-rel{
        width: 396px;
    }

    h1{
        position: fixed;
        margin: 88px 0px 0px 8px
    }

    .bottom-order{
        margin: 8px 0px 0px 0px;
        width: 100%;
        height: 48pxpx;
        z-index: 1;
        position: absolute;
        justify-content: center;
    }

    .bottom-button-order{
    
    }

    .bottomButtonArea{

    }

    .add-task-form-left{
        width: inherit;
    }

    .create-task-button{
        width: 183px;
        height: 56px;
    }

    .clear-button{
        width: 110px;
        height: 56px;
    }
}

@media screen and (max-width: 450px) {

    input{
        width: 248px;
    }

    textarea{
        width: 248px;
    }

    .assigned-container{
        width: 248px;
    }

    .pos-rel{
        width: 248px;
    }

    .prio-span{
        font-size: 22px;
    }

    .urgent-button{
        width: 100px;
        height: 62px;
    }

    .clicked-medium{
        width: 100px;
        height: 62px;
    }

    .low-button{
        width: 100px;
        height: 62px;
    }

    .add-task-form-left{
        width: 282px;
        padding: 0px 0px 0px 16px;
    }

    .add-task-form-right{
        width: 282px;
        padding: 0px 0px 0px 16px;
    }

    .bottom-order{
        width: -webkit-fill-available;
        justify-content: center;
    }

    .create-task-button{
        width: 136px;
    }

    .subtasks-container{
        width: 115px;
    }

    .div-button-order{
        flex-direction: column;
        padding: 0px 0px 0px 16px;
    }

    .order-content{
        width: 353px;
    }

    .form-child-order{
        width: 200px;
    }

    .pos-abs{
        right: 0;
        left: 216px;
    }
}