@media screen and(max-width:1440px) {
    
}

@media screen and (max-width:1240px) {

    .add_task_content{
        margin-left: 232px;;
    }

    .pos-rel{
        width: 280px;
    }

    .urgent-button{
        width: 96px;
    }

    .clicked-medium{
        width: 96px;
    }

    .low-button{
        width: 96px;
    }

    .prio-span{
        font-size: 16px;
    }

    img{
        width: 12pxS;
    }

    .subtasks-container{
        width: 212px;
    }

    .assigned-container{
        width: 212px;
    }

    input{
        padding-right: 0;
        width: 212px;
        font-size: 12px;
    }

    .div-input{
        font-size: 12px;
    }

    textarea{
        width: 212px;
        font-size: 12px;
    }

    .content-order{
        width: 720px;
    }

    .bottom-order{
        width: 720px;
    }
}

@media screen and (max-width: 1024px) {

    h1{
        margin: 0px 0px 0px 114px;
    }

    .pos-rel{
        width: 212px;
    }

    .add_task_content{
        margin-left: 232px;;
    }

    .bottom-order{
        width: 502px;
    }
    
    .content-order{
        margin: 0px 0px 0px 114px;
        width: 580px;
    }

    .bottom-order{
        margin: 0px 0px 0px 88px;
    }

    .dividing-bar{
        margin: 0px 24px;
    }
}

@media screen and (max-width: 777px) {
    
    .content-order{
        display: flex;
        flex-direction: column;
        margin: 64px 0px 0px 114px;
    }

    .dividing-bar{
        display: none;
    }

    input{
        width: -webkit-fill-available;
    }

    textarea{
        width: -webkit-fill-available;
    }

    .assigned-container{
        width: -webkit-fill-available;
    }

    .pos-rel{
        width: -webkit-fill-available;
    }

    h1{
        position: fixed;
    }
}