@media screen and (max-width: 1440px) {

    .headerBox{
        width: 964px;
    }

    .task-card-area{
        width: 188px;
    }

    .kanban-header{
        font-size: 16px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1240px) {

    .headerBox{
        width: 720px;
    }

    .board{
        padding: 0px 44px 20px 44px;
    }

    .search-box{
        width: 236px;
    }

    .board-menue{
        justify-content: end;
    }

    .kanban-header{
        justify-content: space-around;
        width: 190px;
        font-size: 18px;
    }

    .kanban-tasks{
        align-items: center;
    }

    .d-felx-column{
        width: 220px;
    }

    .kanban-board{
        justify-content: start;
        width: 760px;
    }

    .task-card-area{
        width: 148px;
    }

    /* Für die Zeit nach der Abgabe, um eine bessere Möglichkeit zu schaffen, die Tasks in der mobilen Ansicht auf dem Board zu verschieben.
    .task-card-area {
    background-color: #29ABE2;
    width: 252px;
    margin: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    }

    .task-arrow {
      display: flex;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
    }

    .task-arrow-top {
      border-top: 1px solid rgb(41, 171, 226);
    }

    .task-arrow-bottom {
      border-bottom: 1px solid rgb(41, 171, 226);
    } */
    
    .inputBoard{
        padding: 0px 8px 0px 8px;
    }

    .search-box{
        padding: 0px 8px 0px 8px;
    }
}

@media screen and (max-width: 1024px) {

    .content{
        margin: 80px 0px 0px 232px ;
    }

    .board{
        gap: 55px;
        overflow-y: scroll;
    }

    .headerBox{
        width: 560px;
    }

    .btn-add-task{
        display: none;
    }

    .btn-add-task-mobile{
        visibility: visible;
        justify-content: center;
        width: 48px;
        height: 48px;
    }

    .headerBox{
        flex-direction: column;
    }

    .upperHeaderRow{
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;
    }

    .search-box{
        width: 640px;
        height: 36px;
    }

    .inputBoard{
        height: 48px;
        width: 420px;
    }

    .kanban-board{
        flex-direction: column;
    }

    .kanban-header{
        justify-content: space-between;
        width: 190px;
    }

    .kanban-tasks{
        align-items: normal;
        flex-direction: row;
    }

    .d-flex-column{
        height: auto;
        margin: 0px 0px 16px 0px;
    }

    .task-card-area{
        width: 2348px;
        height: 240px;
    }

    .task-card{
        min-height: 244px;
        max-height: 244px;
        width: 244px;
        padding: 8px 12px 8px 12px;
    }

    h1 {
        font-size: 48px;
    }

    .board-menue{
        justify-content: center;
        width: 415px;
    }

    .d-flex-column{
        overflow-x: scroll ;
    }

    .task-description{
        overflow: auto;
    }
}

@media screen and (max-width: 777px) {

    .task-card-area{
        align-items: baseline;
    }

    .headerBox{
        width: auto;
    }

    .kanban-board{
        width: auto;
    }

    .upperHeaderRow{
        margin: 8px 0px 8px 0px;
    }

    .d-flex-column{
        margin: 0;
    }
}

@media screen and (max-width: 450px) {

    .inputBoard{
        width: 288px;
    }

    .search-box{
        width: 288px;
    }

    .board-menue{
        width: auto;
    }
}
