@media screen and (max-width:1240px) {

    .text-box{
        flex-direction: row;
        align-items: unset;
        padding-left: clamp(15px, 2vw, 55px);
        justify-content: space-between;
    }

    .innerTextBox{
        flex-direction: column;
        align-items: normal;
    }

    .text-seperator{
        display: none;
    }

    .seperator-horizontal{
        visibility: visible;
        width: 100px;
        border: 1.5px solid #29abe2;
    }

    .contact-box{
        width: clamp(305px, 27vw, 456px);
    }

    .contact-email{
        font-size: 14px;
    }

    .contacts-info{
        padding-left: clamp(15px, 2vw, 55px);
    }
}

@media screen and (max-width: 1040px) {

    .big-letter-circle{
        width: clamp(58px, 8vw, 120px);
        height: clamp(50px, 8vw, 120px);
    }
}

@media screen and (max-width: 777px) {

    .arrow-back{
        width: 48px;
        height: 48px;
    }
}

@media screen and (max-width:555px) {

    .contactInfo{
        display: none;
    }

    .contact-box{
        width: 100%;
    }

    .letter-box{
        width: 55%;
    }
}

@media screen and (max-width: 450px) {

    .contacts{
        gap: 8px;
    }

    .contact-seperator{
        width: clamp(224px, 23vw, 352px);
    }

    .contact-email{
        font-size: 12px;
    }
}