@media screen and (min-width: 1441px) {
  .board {
    padding-inline: calc(64px + (100vw - 1440px) / 2);
  }
  .logo-small {
    left: calc((100vw - 1286px) / 2);
  }
  .change-access {
    right: calc((100vw - 1196px) / 2);
  }
}

@media screen and (max-width: 1440px) {
  .summary {
    padding-inline: clamp(9px, 9vw, 96px);
  }
  .img-logo {
    width: clamp(100px, 19vw, 274px);
    height: clamp(122px, 24vw, 335px);
  }
  .logo-small {
    width: clamp(64px, 9vw, 100px);
    height: clamp(78px, 11vw, 122px);
    top: clamp(37px, 5vw, 80px);
    left: clamp(38px, 5vw, 77px);
    transform: none;
  }
  .access-window {    
    padding-block: clamp(28px, 5vw, 48px);
    padding-inline: clamp(16px, 8vw, 115px);
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  }
  .board {
    padding-inline: clamp(24px, 4vw, 64px);
    padding-top: clamp(40px, 5vw, 80px);
    gap: clamp(32px, 1vw, 55px);
  }
}

@media screen and (max-width: 1240px) {
  .content {
    padding: 110px 30px 70px;
  }
  .contacts {
    width: clamp(283px, 23vw, 352px);
  }
  .board {
    padding-inline: clamp(0px, 2vw, 44px);
    gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .board {
    height: calc(100vh - 120px);
    padding-inline: 21px;
    margin-bottom: 40px;
    gap: 32px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 777px) {
  .content {
    height: calc(100% - 160px);
    width: 100%;
    margin: 80px 0px 192px;
    padding: 30px 16px 0px;
    align-items: center;
  }
  .board {    
    height: calc(100vh - 160px);
    padding-inline: 16px;
    margin-bottom: 80px;
    gap: 27px;
  }
}

@media screen and (max-width: 516px) {
  .clear-button {
    display: none;
  }
  .div-button-order {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (max-width: 428px) {
  h1 {
    font-size: clamp(32px, 11vw, 47px);
  }
  .blue-line {
    width: clamp(110px, 35vw, 150px);
  }
}
