@media screen and (min-width: 1441px) {
  .content {
    padding-inline: calc(80px + (100vw - 1440px) / 2);
  }
}

@media screen and (max-width: 1440px) {
  .content {
    padding-inline: clamp(16px, 1vw, 96px);
  
  }
}

@media screen and (max-width: 1240px) {
  .content {
    width: calc(100% - 144px);
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: calc(100% - clamp(100px, 15vw, 144px));
    margin-left: clamp(100px, 28vw, 248px);
  }

  h1{
    font-size: 48px;
  }
}

@media screen and (max-width: 777px) {

  .head{
    flex-direction: column;
    align-items: normal;
    padding: 0px 0px 32px 8px;
  }

  .header-span{
    display: none;
  }

  .content{
    padding: 80px 0px 0px 8px;
  }

  body{
    position: relative;
  }

  .content {
    width: 100%;
    margin: 0px;
  }

  .number-of-tasks{
    font-size: 48px;
  }

  header{
    left: 0;
    width: calc(100% - 0px);
    height: 80px;
    z-index: 1 ;
  }

  span{
    font-size: 14px;
  }

  aside{
    display: none;
  }

  footer{
    visibility: visible;
    width: calc(100% - 0px);
    height: 80px;
    position:fixed;
    bottom:0;
  }

  .icon-bar-footer{
    justify-content: space-around;
  }

  .link-sidebar{
    display: flex;
    justify-content: center;
    height: 76px;
    width: 76px;
  }

  .box-icons{
    flex-direction: column;
    width: 24px;
  }

  .h1-box{
    background-color: rgb(246, 247, 248);
    width: 100vh;
    height: 88px;
    position: fixed;
  }

  h1 {
    font-size: clamp(47px, 7vw, 61px);
  }

  h2 {
    font-size: clamp(36px, 7vw, 61px);
  }

  .alert-field{
    display: none;
  }
}

@media screen and (max-width: 450px) {

  .content{
    align-items: center;
  }
}