@media screen and (max-width: 1240px) {

    .content{
        width: 70%;
        height: 100vh;
        margin-right: 8px;
        margin-bottom: 8px;
        margin-left: 236px;
        padding-bottom: 110px;
        padding-left: 8px;
    }

    .arrow-back{
        top: 140px;
        left: calc(100% - 48px);
        position: fixed;
        border: solid 1px rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 1090px) {
    .content{
        width: 64%;
    }
}

@media screen and (max-width: 1024px) {
    .content{
        width: 55%;
    }
}

@media screen and (max-width: 910px) {
    .content{
        width: 45%;
    }
}

@media screen and (max-width: 777px) {

    .content{
        margin-left: 4px;
        margin-top: 84px;
        margin-right: 4px;
        padding-top: 16px;
        width: auto;
    }
    h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 490px) {

    h2 {
        font-size: 28px;
    }
    h1, h2, h3{
        text-align: center;
    }
}
