@media screen and (max-width: 1440px) {
    .greeting{
        padding: 56px 0px 0px 32px;
    }
}

@media screen and (max-width: 1240px) {
    .content {
        margin: 0px 270px 0px 270px;
    }

    header{
        width: calc(100% - 107px);
        left: 232;
    }

    aside{
        height: 128vh;
    }
}

@media screen and (max-width: 770px) {

    .greeting{
        visibility: hidden;
    }
    
    .summary{
        margin: 0px;
        padding: 110px 0px 70px 8px;;
    }

    header{
        left: 0;
    }

    .upper-task-block{
        width: 186px;
        height: 110px;
    }
}