@media screen and (max-width: 1440px) {
    .greeting{
        padding: 56px 0px 0px 32px;
    }
}

@media screen and (max-width: 1240px) {
    .content {
        margin: 0px 0px 0px 270px;
    }

    .greeting{
        display: none;
    }

    aside{
        height: 128vh;
    }
}

@media screen and (max-width: 860px) {
       
    .task-in-block{
        height: 116px;
        width: 116px;
    }

    .number-of-tasks{
        font-size: 48px;
    }

    .width-86{
        font-size: 16px;
    }

    .summary{
        padding: 110px 0px 70px 0px;
    }

    .priority-block{
        gap: 0;
        justify-content: space-around;
    }

    .upper-task-block{
        width: 186px;
        height: 110px;
    }

    .content-tasks{
        width: auto;
    }
}

@media screen and (max-width: 777px) {

    h2{
        font-size: 20px;
        margin: 8px 0px 8px 0px;
    }

    .seperator-blue{
        display: none;
    }

    .seperator-horizontal{
        visibility: visible;
        width: 100px;
        border: 1.5px solid #29abe2;
    }

    .content-tasks{
        height: 384px;
        width: 396px;
    }

    .center{
        justify-content: center;
    }
    
    .summary{
        margin: 0px;
        padding: 110px 0px 70px 0px;
    }

    .task-in-block:hover{
        transform: none;
    }

    .circel{
        width:40px;
        height: 40px;
    }

    .circel-priority{
        width: 40px;
        height: 40px;
    }

    img{
        width: 22px;
    }

    .summary-link{
        border-radius: 10px;
    }
}

@media screen and (max-width:450px) {

    .content-tasks{
        width: 280px;
    }
}