:root{
    --clr: rgb(66, 233, 15);
}

.container .cloud {
    position: relative;
    z-index: -1;
    pointer-events: none;
    width: 300px;
    z-index: 100;
}

.container .cloud .drop{
  position: absolute;
  top: -50px;
  color: var(--clr);
  transform-origin: bottom;
  animation: animate 1111ms linear infinite;
  background-color: rgba(0, 0, 0, 0.65);
}

@keyframes animate {
    0%{
        transform: translateY(0) scaleY(0);
        transform-origin: top;
    }
    10%{
        transform: translateY(0) scaleY(0.05);
        transform-origin: top;
    }
    20%{
        transform: translateY(0) scaleY(0.5);
    }
    
    70%{
        transform: translateY(300px) scaleY(0.5);
        transform-origin: bottom;
    }
    80%{
        transform: translateY(300px) scaleY(1);
        transform-origin: bottom;
    }
    100%{
        transform: translateY(300px) scaleY(0);
        transform-origin: bottom;
        text-shadow: -180px 0 0 var(--clr), 180px 0 var(--clr);
    }
}