.cloud {
    position: relative;
    z-index: 1;
    pointer-events: none;
    width: 640px;
}

.drop {
  position: absolute;
  top: -58px;
  animation: animate 1444ms linear infinite;
  background-color: rgba(0, 0, 0, 0.65);
}

@keyframes animate {
    0%{
        transform: translateY(0) scaleY(-0.1);
    }
    10%{
        transform: translateY(0) scaleY(0.2);
    }
    20%{
        transform: translateY(0) scaleY(0.5);
    }
    70%{
        transform: translateY(200px) scaleY(0.7);
    }
    80%{
        transform: translateY(300px) scaleY(1); 
    }
    100%{
        transform: translateY(480px) scaleY(0);
    }
}

#login_email, 
#login_password,
h1, .blue-line
 {
  z-index: 3;
}

h1 {
  filter: drop-shadow(0px 0px 8px #ffffff);
}




#travoltaGif {
  position: absolute;
  z-index: 222;
  top: 33px;
  left: 500px;
}
