<div class="flex-center header-text">Kanban Project Management Tool</div>
<div id="user-information" class="flex-center">
    <div class="flex-center">
      
        <a class="help-desktop" href="help.html"><img class="help" src="assets/img/svg/help.svg" alt=""></a>

        <button id="user-button-initials" class="user-button"></button>

        <div id="user-menu" class="d-none">
            <a class="help-mobile" href="help.html">Help</a>
            <a href="legalnotice.html">Legal notice</a>
            <a href="privacy.html">Privacy Policy</a>
            <a href="login.html">Log out</a>
        </div>

    </div>
</div>