<div class="nav-container">

  <div>
      <img class="join-logo" src="../assets/img/svg/logo_nav.svg" alt="Join Logo">
  </div>

  <div>
    <div onload="activeLink()" class="nav-links" id="nav-links">
        <a id="summary" class="nav-link" href="summary.html"><img src="../assets/img/svg/summary_nav.svg" alt="">Summary</a>
        <a id="add_task" class="nav-link" href="add_task.html"><img src="../assets/img/svg/task_nav.svg" alt="">Add Task</a>
        <a id="board" class="nav-link" href="board.html"><img src="../assets/img/svg/board_nav.svg" alt="">Board</a>
        <a id="contacts" class="nav-link" href="contacts.html"><img src="../assets/img/svg/contact_nav.svg" alt="">Contacts</a>
    </div>

    <div class="sub-nav">
        <a id="privacy" href="privacy.html">Privacy Policy</a>
        <a id="legal" href="legalnotice.html">Legal notice</a>
    </div>
  </div>

</div>