body{
    background-color: rgb(246, 247, 248);
}

h1{
    font-weight: 700;
    margin: 110px 0px 0px 96px;
    font-size: 61px;
}

h3{
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
}

h5{
    font-size: 20px;
    margin: 0px 8px 0px 8px;
}

h6{
    font-size: 20px;
    padding-bottom: 4px;
}

.taskContent{
    width: auto;
    display: flex;
    margin: 50px 0px 0px 96px;
}

.seperator{
    width: 3px;
    height: 424px;
    background-color: rgb(209, 209, 209);
    margin: 0px 24px 8px 0px;
}

.frame{
    margin: 0px 24px 0px 0px;
}

.entryField{
    margin: 0px 8px 16px 0px;
}

input{
    padding: 16px;
    font-size: 20px;
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: solid 1px rgb(209, 209, 209);
}

textarea{
    padding: 16px;
    font-size: 20px;
    width: 440px;
    height: 136px;
    border-radius: 10px;
    border: solid 1px rgb(209, 209, 209);
}

.prioBar{
    display: flex;
}

.prioButton{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    margin: 0px 8px 0px 0px;
    transition: transform 222ms ease-in-out;
}

.prioButton:hover{
    cursor: pointer;
}

.prioButton.active{
    transform: scale(108%);
}

.prioIcon{
    width: 24px;
}

.urgent.active{
    background-color: rgb(255, 61, 0);
    color: white;
    transform: scale(108%)
}

.urgent.active img{
    content: url(/assets/img/png/Prio-urgent-white.png);
}

.medium.active{
    background-color: rgb(255, 168, 0);
    color: white;
    transform: scale(108%)
}

.medium.active img{
    content: url(/assets/img/png/prio-medium-white-at.png);
}

.low.active{
    background-color: rgb(122, 226, 41);
    color: white;
    transform: scale(108%)
}

.low.active img{
    content: url(/assets/img/png/prio-low-white-at.png);
}

.taskFooter{
    margin: 58px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 96px;
    align-items: end;
}


.taskButtonBox{
    display: flex;
    justify-content: space-around;
    height: 56px;
}

.taskButton{
    display: flex;
    align-items: center;
    border: solid 1px rgb(42, 54, 71);
    border-radius: 15px;
    padding: 16px 10px 16px 10px;
    margin: 0px 8px 0px 0px;
    transition: transform 222ms ease-in-out;
}

.crate{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 54, 71);
}

.taskButton:hover{
    cursor: pointer;
}

.taskButton.active{
    transform: scale(108%);
}

.taskIcon{
    width: 24px;
}

.check{
    width: 16px;
}

.clear{
    width: 12px;
}

.dropbutton {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 440px;
    display: flex;
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: solid 1px rgb(209, 209, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropbutton:hover{
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 440px;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
}

  .dropdown:hover .dropdown-content {
    display: block;
}

  .dropIcon{
    width: 12px;
    height: 6px;
  }