.content-legal-notice {
    gap: 30px;
    color: black;
    overflow-y: scroll;
    margin-top: 96px;
    cursor: default;
    text-align: justify;
}
  
.content-legal-notice::-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar {
    display: none;
}

h1 {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 61px;
  font-weight: 700;
}

h2 {
  margin: 0px;
  font-size: 27px;
  font-weight: 700;
}

h3 {
  margin: 16px 0px 8px 0px;
}

span {
  line-height: 19px;
}

.link {
    color: rgba(50, 101, 173, 0.85);
    cursor: pointer;
    line-height: 20px;
    font-weight: 500;
    transition: 111ms ease-in-out;
}

.link:hover {
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
    font-size: 17px;
    filter: drop-shadow(0px 0px 10px rgba(50, 101, 173, 0.7));
}

.container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  padding-top: 110px;
  padding-left: 96px;
}

.imprint {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  margin: 0px 16px;
  list-style: none;
}

.highlight-blue {
  color: #29abe2;
}

.noticeLink {
  height: 46px;
  display: flex;
  width: 100%;
  background-color: #091931;
  align-items: center;
  font-weight: 400;
  color: #a8a8a8;
}