html,
body {
  height: 100%;
  background-color: #f6f7f8;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 67px;
  right: 360px;
  width: 280px;
  height: 49px;
  font-size: 20px;
  display: flex;
  gap: 35px;
  align-items: center;
}

.signInBtn {
  background-color: #2a3647;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  height: 49px;
  width: 91px;
  padding: 15px 16px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.signInBtn:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Main container */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.h1LogIn {
  font-size: 61px;
  text-decoration: underline;
  text-decoration-color: #29abe2;
  text-underline-offset: 24px;
}

.logInForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 422px;
}

.inputField {
  width: 422px;
  height: 48px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.inputField:focus {
  border-color: #29abe2;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.formButtons {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.btnPrimary {
  width: 100%;
  height: 48px;
  background-color: #2a3647;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}

.btnPrimary:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btnSecondary {
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  color: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  cursor: pointer;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}

.btnSecondary:hover {
  background-color: #ffffff;
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.logInBox {
  height: 493px;
  width: 652px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 48px 115px;
}

.inputWrapper {
  position: relative;
  width: 422px;
}

.inputField {
  width: 100%;
  height: 48px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  padding-right: 40px;
}

.inputField:focus {
  border-color: #29abe2;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.inputIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

::placeholder {
  color: #d1d1d1;
}

footer {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background-color: #f6f7f8;
  color: #a8a8a8;
}

.footerLink {
  margin: 0 10px;
  color: #a8a8a8;
  text-decoration: none;
  font-size: 16px;
}

.footerLink:hover {
  color: #29abe2;
  font-weight: 500;
}



/* For Logo Animation */

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(246, 247, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1333ms ease-out;
  z-index: 1000;
}

.img-logo {
  width: 274px;
  height: 335px;
  transition: all 1s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: url(../assets/img/png/logo-big.png);
}

.logo-small {
  position: absolute;
  width: 100px;
  height: 122px;
  top: 80px;
  left: 77px;
  transform: none;
  content: url(../assets/img/png/logo-big.png);
}

.container-transparent {
  background-color: transparent !important;
}
