html, body {
  height: 100%;
  background-color: #F6F7F8;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 67px;
  right: 360px;
  width: 280px;
  height: 49px;
  font-size: 20px;
  display: flex;
  gap: 35px;
  align-items: center;
}

.signInBtn {
  background-color: #2A3647;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  height: 49px;
  width: 91px;
  padding: 15px 16px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.signInBtn:hover {
  cursor: pointer;
  background-color: #29ABE2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}


/* For Logo Animation */

.logo-container {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgb(246, 247, 248);
display: flex;
justify-content: center;
align-items: center;
transition: background-color 1s ease-out;
z-index: 1000;
}

.img-logo {
width: 274px;
height: 335px;
transition: all 1s ease-out;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
content: url(../assets/img/png/logo-big.png);
}

.logo-small {
position: absolute;
width: 100px;
height: 122px;
top: 80px;
left: 77px;
transform: none;
content: url(../assets/img/png/logo-big.png);
}

.container-transparent {
background-color: transparent !important;
}


/* Main container */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.h1LogIn {
  font-size: 61px;
}

.blue-line {
width: 150px;
height: 3px;
background-color: #29ABE2;
margin-top: -16px;
border-radius: 4px;
border: solid 2px #29ABE2;
}

.logInForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 422px;
}

.inputField {
  width: 422px;
  height: 48px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
}

.inputField:focus {
  border-color: #29ABE2;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.formButtons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.btnPrimary {
  width: 110px;
  height: 48px;
  background-color: #2A3647;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}

.btnPrimary:hover {
  background-color: #29ABE2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btnSecondary {
  width: 177px;
  height: 48px;
  background-color: #ffffff;
  color: #2A3647;
  border: 1px solid #2A3647;
  border-radius: 10px;
  cursor: pointer;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}

.btnSecondary:hover {
  background-color: #ffffff;
  border: 1px solid #29ABE2;
  color: #29ABE2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.logInBox {
  height: 493px;
  width: 652px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000A;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 48px 115px;
}

.inputWrapper {
  position: relative;
  width: 422px;
}

.inputField {
  width: 100%;
  height: 48px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #D1D1D1;
  padding-right: 40px;
}

.inputField:focus {
  border-color: #29ABE2;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.inputIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.pointer {
cursor: pointer;
}

.inputIconExtrawurst {
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
width: 18px;
height: 18px;
}

::placeholder {
  color: #D1D1D1;
  font-size: 20px;
}

.imgCheckbox {
margin-left: 32px;
display: flex;
gap: 8px;
align-items: center;
}

.litte-button {
width: 25px;
height: 25px;
border-radius: 3px;
cursor: pointer;
}

footer {
  position: fixed;
  bottom: 25px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background-color: #f6f7f8;
  color: #A8A8A8;
}

.footerLink {
  margin: 0 10px;
  color: #A8A8A8;
  text-decoration: none;
  font-size: 17px;
}

.footerLink:hover {
  color: #29ABE2;
  font-weight: 700;
}


/* Sign up Section */

.signUpBox {
height: 640px;
width: 630px;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
border-radius: 30px;
box-shadow: 0px 0px 14px 3px #0000000A;
gap: 32px;
padding: 48px;
}

.signUpForm {
display: flex;
flex-direction: column;
align-items: center;
width: 422px;
gap: 32px;
}

.signUpHead {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}

.backArrow {
position: absolute;
height: 32px;
width: 32px;
border-radius: 50%;
margin-right: 500px;
transition: 150ms ease-in-out;
}

.backArrow:hover {
cursor: pointer;
background-color: #f1f1f1;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
transform: scale(114%);
}

.acceptLegalnoticeText {
color: #A8A8A8;
}

.acceptLegalnotice {
color: #29ABE2;
text-decoration: none;
}

.acceptLegalnotice:hover {
cursor: pointer;
text-decoration: underline;
}
