/* Global styles */
html,
body {
    height: 100%;
    margin: 0;
    background-color: #F6F7F8;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

/* Logo and nav styling */
nav {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logoBlack {
    width: 100.03px;
    height: 121.97px;
}

/* Styling for the div containing span and button */
nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    padding: 8px 16px;
    margin-right: 16px;
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #29ABE2;
}

/* Main container */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.h1LogIn {
    font-size: 61px;
}

.logInForm {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;
}

/* logInBox styling */
.logInBox {
    height: 493px;
    width: 652px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 48px 115px;
}

/* Footer styling */
footer {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background-color: #f6f7f8;
    color: #A8A8A8;
}