h1 {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 61px;
  font-weight: 700;
  margin-top: 0;
  font-size: 61px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  margin: 32px 0px 12px 0px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin: 16px 0px 8px 0px;
}

.content-policy {
  overflow: scroll;
}

.content-policy::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.link {
  text-decoration: none;
  color: #29abe2;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

li {
  list-style: none;
}

.policeLink {
  height: 46px;
  display: flex;
  width: 100%;
  background-color: #091931;
  align-items: center;
  font-weight: 400;
  color: #a8a8a8;
}