.content-policy {
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 61px;
  font-weight: 700;
  margin-top: 0;
  font-size: 61px;
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: #29abe2;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

h2 {
  font-size: 32px;
  margin: 32px 0px 12px 0px;
}

h3 {
  font-size: 24px;
  margin: 16px 0px 8px 0px;
}

li {
  list-style: none;
}